<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Load Babel -->
    <script src="babel.js"></script>
</head>
<body>
    <h1>Demo Express Server</h1>
    <div id="root"></div>
    <script type="text/babel">
        let coding = "demo Express";
        console.log(coding);
    </script>
</body>
</html>